# Python
**/__pycache__
*.pyc
*.pyo

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/
profiles/.user.yml

# Environment
.env
.env.generated
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store

.cursor/

# Elementary
elementary-report/
edr_target/
